.tornaa {
    margin-top: 60px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Comfortaa';
}

.tornaa:hover{
    color: #fff;
}

.tornaa a {
    text-decoration: none;
    padding: 5px 10px;
}

.tornaa a:hover{
    background-color: #0039a6;
    color: #fff;
    border-radius: 10px;
}


.fa-arrow-left {
    color: #1d1e2f;
    margin: auto 0 auto 0;
    align-items: center;
}

.sottocategoria h2 {
    margin-top: 70px;
    font-family: 'Comfortaa';
    margin-bottom: 20px;
    margin-left: 30px;
}

.titolodesc h4{
    margin-top: 30px;
    font-family: 'Comfortaa';
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.titolodesc p {
    font-size: 20px;
    font-family: 'Comfortaa';
    text-align: center;
    width: 80%;
    margin: 30px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid ;
}

.listasottocategorie {
    display: flex;
}

.Categoria {
    margin-left: 20px;
}

.dashboard-content h3 {
    margin-top: 50px;
    font-family: 'Comfortaa';
    text-align: center;
}

.Categoria h1 {
    font-size: 20px;
    background-color: #0039a6;
    padding: 5px 15px;
    font-family: 'Comfortaa';
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}