.dashboard-content {
    background-color: #f9f9f9;
    padding: 40px;
    margin: 7% 20%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-content p {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  form {
    margin-top: 20px;
  }

  .campo {
    margin-top: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #mandablog {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
  }

  #mandacat{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
  }
  #ModProfilo{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
  }
  
  #mandablog:hover {
    background-color: #45a049;
  }
  #mandacat:hover {
    background-color: #45a049;
  }
  #ModProfilo:hover {
    background-color: #45a049;
  }
  
  #ModBlog {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
  }
  #Modblog:hover{
    background-color: #45a049;
  }
  #error_message {
    color: red;
  }
  
  .casellatesto {
    width: 70% !important;
    padding: 10px;
  }

  .inseriscimmagine {
    width: 35%!important;
  }

  .cliccaqui p {
    font-size: 16px;
  }

  #cerca {
    width: 20%;
    margin-bottom:1px;
  }
  #return_message{
      margin-top: 4px;
      font-size: 16px;
      font-weight: bold;
      margin-bottom:15px;
  }
  .lista{
    padding-left:0px;
    list-style: none;
    width:20%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .lista li:hover {
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 5px;
  }

#Nome{
  width:25%;
}
#Cognome{
  width:25%;
}

