.scritta h1 {
 margin-top: 80px;   
 padding-bottom: 5px;
 font-size: 36px;
 font-family: 'Comfortaa';
 text-align: center;
 font-weight: bold;
}

.listablog{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto auto auto;
}

.blog{
    width: 30%;
    border-radius: 21px;
    margin-bottom: 30px ;
    margin-left: 40px;
    border: #1d1e2f solid 1px;
    transition: transform 0.3s ease;
}

.blog:hover{
    transform: scale(1.05);
}


.blog-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.blog-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacità dell'overlay, regola questa parte se vuoi regolare l'opacità */
    z-index: 1;
    border-radius: 20px 20px 0 0;
}

.blog-image h1 {
    position: relative;
    z-index: 2;
    color: #ffffff; /* Colore del testo chiaro */
    text-transform: uppercase;
    font-family: 'Comfortaa';
    margin: 0;
    padding: 130px 40px 130px 40px;
    cursor: pointer;
}


.blog-header {
    text-align: center;
    font-family: 'Comfortaa';
}

.blog-header p {
    padding: 15px;
}

.utenteblog {
    font-weight: bolder;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;

}

.utenteblog .fa-user{
    color: #1d1e2f;
    margin-right: 5px;
}
a{
    color: #515151;
}


