* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stile generale della categoria */
.Categoria {
  width: 60%;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body > div > div.dashboard-app > div > div:nth-child(1) {
    margin-top: 40px;
}

/* Effetto di ombra */
.Categoria {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto 20px  auto;
}

/* Effetto hover */
.Categoria:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stile dell'intestazione della categoria */
.categoria-header {
  color: #ffffff;
  
  border-bottom: 1px solid #e0e0e0;
}

.categoria-header h1 {
    padding: 20px;
    text-transform: uppercase;
    background: #0039a6;
    font-family: 'Comfortaa';
}

.categoria-header p {
    padding: 20px;
    color: #0039a6;
    font-family: 'Comfortaa';
}

/* Stile del testo dell'intestazione della categoria */
.categoria-header h1 {
  font-size: 24px;
  margin: 0;
}

/* Stile del contenuto della categoria */
.categoria-content {
  padding: 20px;
}

/* Stile del testo del contenuto della categoria */
.categoria-content p {
  font-size: 16px;
  line-height: 1.6;
}