@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0039a6!important;
    padding: 30px 10px;
}

.card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 25px!important;
    background-color: #1d1e2f!important;
}

p {
    margin: 0px;
    color: white;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

}


.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    color: white;
    background-color: #223C60;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.form-control:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}

#signup {
    border-radius: 15px;
    padding: 15px 20px;
    background: linear-gradient(to right, #87CEEB, #0039a6);
    border: none;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    width: 100%;
}

#signup:hover {
    background: linear-gradient(to right, #4169E1, #87CEEB);
}

.error {
    margin-bottom: 10px!important;
    color: red;
    font-size: 12px;
  }